### Importing Libraries

In [1]:
# import libraries and modules
import os
import json
import pandas as pd
import mysql.connector as sql

# import project environment
import env

### Data transformation

##### Dataframe of transaction - aggregate

In [2]:
# list of states
transaction_aggregate_list = os.listdir(env.project_transaction_aggregate_dir)

transaction_aggregate_columns = {
    "State": [],
    "Year": [],
    "Quarter": [],
    "Transaction_type": [],
    "Transaction_count": [],
    "Transaction_amount": [],
}

# iterating states
for state in transaction_aggregate_list:
    current_state = os.path.join(env.project_transaction_aggregate_dir, state)
    aggregate_year_list = os.listdir(current_state)

    # iterating years in a state
    for year in aggregate_year_list:
        current_year = os.path.join(current_state, year)
        aggregate_file_list = os.listdir(current_year)

        # iterating quarter data in a year
        for file in aggregate_file_list:
            current_file = os.path.join(current_year, file)

            # load file as json data
            data = open(current_file, "r")
            A = json.load(data)

            # iterate json data
            for i in A["data"]["transactionData"]:
                name = i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                transaction_aggregate_columns["Transaction_type"].append(name)
                transaction_aggregate_columns["Transaction_count"].append(count)
                transaction_aggregate_columns["Transaction_amount"].append(amount)
                transaction_aggregate_columns["State"].append(state)
                transaction_aggregate_columns["Year"].append(year)
                transaction_aggregate_columns["Quarter"].append(
                    int(file.strip(".json"))
                )

df_transaction_aggregate = pd.DataFrame(transaction_aggregate_columns)

##### Dataframe of transaction - map

In [3]:
# list of states
transaction_map_list = os.listdir(env.project_transaction_map_dir)

transaction_map_columns = {
    "State": [],
    "Year": [],
    "Quarter": [],
    "District": [],
    "Count": [],
    "Amount": [],
}

# iterating states
for state in transaction_map_list:
    current_state = os.path.join(env.project_transaction_map_dir, state)
    map_year_list = os.listdir(current_state)

    # iterating years in a state
    for year in map_year_list:
        current_year = os.path.join(current_state, year)
        map_file_list = os.listdir(current_year)

        # iterating quarter data in a year
        for file in map_file_list:
            current_file = os.path.join(current_year, file)

            # load file as json data
            data = open(current_file, "r")
            B = json.load(data)

            # iterate json data
            for i in B["data"]["hoverDataList"]:
                district = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                transaction_map_columns["District"].append(district)
                transaction_map_columns["Count"].append(count)
                transaction_map_columns["Amount"].append(amount)
                transaction_map_columns["State"].append(state)
                transaction_map_columns["Year"].append(year)
                transaction_map_columns["Quarter"].append(int(file.strip(".json")))

df_transaction_map = pd.DataFrame(transaction_map_columns)

##### Dataframe of transaction - top

In [4]:
# list of states
transaction_top_list = os.listdir(env.project_transaction_top_dir)

transaction_top_columns = {
    "State": [],
    "Year": [],
    "Quarter": [],
    "Pincode": [],
    "Transaction_count": [],
    "Transaction_amount": [],
}

# iterating states
for state in transaction_top_list:
    current_state = os.path.join(env.project_transaction_top_dir, state)
    top_year_list = os.listdir(current_state)

    # iterating years in a state
    for year in top_year_list:
        current_year = os.path.join(current_state, year)
        top_file_list = os.listdir(current_year)

        # iterating quarter data in a year
        for file in top_file_list:
            current_file = os.path.join(current_year, file)

            # load file as json data
            data = open(current_file, "r")
            C = json.load(data)

            # iterate json data
            for i in C["data"]["pincodes"]:
                name = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                transaction_top_columns["Pincode"].append(name)
                transaction_top_columns["Transaction_count"].append(count)
                transaction_top_columns["Transaction_amount"].append(amount)
                transaction_top_columns["State"].append(state)
                transaction_top_columns["Year"].append(year)
                transaction_top_columns["Quarter"].append(int(file.strip(".json")))
df_transaction_top = pd.DataFrame(transaction_top_columns)

##### Dataframe of user - aggregate

In [5]:
# list of states
user_aggregate_list = os.listdir(env.project_user_aggregate_dir)

user_aggregate_columns = {
    "State": [],
    "Year": [],
    "Quarter": [],
    "Brands": [],
    "Count": [],
    "Percentage": [],
}

# iterating states
for state in user_aggregate_list:
    current_state = os.path.join(env.project_user_aggregate_dir, state)
    aggregate_year_list = os.listdir(current_state)

    # iterating years in a state
    for year in aggregate_year_list:
        current_year = os.path.join(current_state, year)
        aggregate_file_list = os.listdir(current_year)

        # iterating quarter data in a year
        for file in aggregate_file_list:
            current_file = os.path.join(current_year, file)

            # load file as json data
            data = open(current_file, "r")
            D = json.load(data)

            # iterate json data
            try:
                for i in D["data"]["usersByDevice"]:
                    brand_name = i["brand"]
                    counts = i["count"]
                    percents = i["percentage"]
                    user_aggregate_columns["Brands"].append(brand_name)
                    user_aggregate_columns["Count"].append(counts)
                    user_aggregate_columns["Percentage"].append(percents)
                    user_aggregate_columns["State"].append(state)
                    user_aggregate_columns["Year"].append(year)
                    user_aggregate_columns["Quarter"].append(int(file.strip(".json")))
            except:
                pass

df_user_aggregate = pd.DataFrame(user_aggregate_columns)

##### Dataframe of user - map

In [6]:
# list of states
user_map_list = os.listdir(env.project_user_map_dir)

user_map_columns = {
    "State": [],
    "Year": [],
    "Quarter": [],
    "District": [],
    "RegisteredUser": [],
    "AppOpens": [],
}

# iterating states
for state in user_map_list:
    current_state = os.path.join(env.project_user_map_dir, state)
    map_year_list = os.listdir(current_state)

    # iterating years in a state
    for year in map_year_list:
        current_year = os.path.join(current_state, year)
        map_file_list = os.listdir(current_year)

        # iterating quarter data in a year
        for file in map_file_list:
            current_file = os.path.join(current_year, file)

            # load file as json data
            data = open(current_file, "r")
            E = json.load(data)

            # iterate json data
            for i in E["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appOpens = i[1]["appOpens"]
                user_map_columns["District"].append(district)
                user_map_columns["RegisteredUser"].append(registereduser)
                user_map_columns["AppOpens"].append(appOpens)
                user_map_columns["State"].append(state)
                user_map_columns["Year"].append(year)
                user_map_columns["Quarter"].append(int(file.strip(".json")))

df_user_map = pd.DataFrame(user_map_columns)

##### Dataframe of user - top

In [7]:
# list of states
user_top_list = os.listdir(env.project_user_top_dir)

user_top_columns = {
    "State": [],
    "Year": [],
    "Quarter": [],
    "Pincode": [],
    "RegisteredUsers": [],
}

# iterating states
for state in user_top_list:
    current_state = os.path.join(env.project_user_top_dir, state)
    top_year_list = os.listdir(current_state)

    # iterating years in a state
    for year in top_year_list:
        current_year = os.path.join(current_state, year)
        top_file_list = os.listdir(current_year)

        # iterating quarter data in a year
        for file in top_file_list:
            current_file = os.path.join(current_year, file)

            # load file as json data
            data = open(current_file, "r")
            F = json.load(data)

            # iterate json data
            for i in F["data"]["pincodes"]:
                name = i["name"]
                registeredUsers = i["registeredUsers"]
                user_top_columns["Pincode"].append(name)
                user_top_columns["RegisteredUsers"].append(registeredUsers)
                user_top_columns["State"].append(state)
                user_top_columns["Year"].append(year)
                user_top_columns["Quarter"].append(int(file.strip(".json")))

df_user_top = pd.DataFrame(user_top_columns)

##### Dataframe as CSV file

In [8]:
# transforming transaction data
df_transaction_aggregate.to_csv(env.project_csv_transaction_aggregate, index=False)
df_transaction_map.to_csv(env.project_csv_transaction_map, index=False)
df_transaction_top.to_csv(env.project_csv_transaction_top, index=False)

# transforming user data
df_user_aggregate.to_csv(env.project_csv_user_aggregate, index=False)
df_user_map.to_csv(env.project_csv_user_map, index=False)
df_user_top.to_csv(env.project_csv_user_top, index=False)

### Managing database

##### Connecting to MySQL

In [9]:
# creating connection
db_connection = sql.connect(
    host=env.sql_hostname, user=env.sql_username, password=env.sql_password
)

# creating cursor to execute queries
db_cursor = db_connection.cursor(buffered=True)

##### Creating new database

In [10]:
# creating database
db_cursor.execute("CREATE DATABASE IF NOT EXISTS " + env.sql_database)

# running queries in new database
db_cursor.execute("USE " + env.sql_database)

# the connection is not auto committed by default, so we must commit to save our changes
db_connection.commit()

### Migrating transaction dataset

##### Migrating aggregate data to table

In [11]:
# creating table
db_cursor.execute(
    "CREATE TABLE IF NOT EXISTS "
    + env.sql_table_transaction_aggregate
    + " (State varchar(100), Year int, Quarter int, Transaction_type varchar(100), Transaction_count int, Transaction_amount double)"
)

# iterating all rows in dataframe to insert data
for i, row in df_transaction_aggregate.iterrows():
    sql = (
        "INSERT INTO "
        + env.sql_table_transaction_aggregate
        + " VALUES (%s,%s,%s,%s,%s,%s)"
    )
    db_cursor.execute(sql, tuple(row))

# the connection is not auto committed by default, so we must commit to save our changes
db_connection.commit()

##### Migrating map data to table

In [12]:
# creating table
db_cursor.execute(
    "CREATE TABLE IF NOT EXISTS "
    + env.sql_table_transaction_map
    + " (State varchar(100), Year int, Quarter int, District varchar(100), Count int, Amount double)"
)

# iterating all rows in dataframe to insert data
for i, row in df_transaction_map.iterrows():
    sql = "INSERT INTO " + env.sql_table_transaction_map + " VALUES (%s,%s,%s,%s,%s,%s)"
    db_cursor.execute(sql, tuple(row))

# the connection is not auto committed by default, so we must commit to save our changes
db_connection.commit()

##### Migrating top data to table

In [13]:
# creating table
db_cursor.execute(
    "CREATE TABLE IF NOT EXISTS "
    + env.sql_table_transaction_top
    + " (State varchar(100), Year int, Quarter int, Pincode int, Transaction_count int, Transaction_amount double)"
)

# iterating all rows in dataframe to insert data
for i, row in df_transaction_top.iterrows():
    sql = "INSERT INTO " + env.sql_table_transaction_top + " VALUES (%s,%s,%s,%s,%s,%s)"
    db_cursor.execute(sql, tuple(row))

# the connection is not auto committed by default, so we must commit to save our changes
db_connection.commit()

### Migrating user dataset

##### Migrating aggregate data to table

In [14]:
# creating table
db_cursor.execute(
    "CREATE TABLE IF NOT EXISTS "
    + env.sql_table_user_aggregate
    + " (State varchar(100), Year int, Quarter int, Brands varchar(100), Count int, Percentage double)"
)

# iterating all rows in dataframe to insert data
for i, row in df_user_aggregate.iterrows():
    sql = "INSERT INTO " + env.sql_table_user_aggregate + " VALUES (%s,%s,%s,%s,%s,%s)"
    db_cursor.execute(sql, tuple(row))

# the connection is not auto committed by default, so we must commit to save our changes
db_connection.commit()

##### Migrating map data to table

In [ ]:
# creating table
db_cursor.execute(
    "CREATE TABLE IF NOT EXISTS "
    + env.sql_table_user_map
    + " (State varchar(100), Year int, Quarter int, District varchar(100), Registered_user int, App_opens int)"
)

# iterating all rows in dataframe to insert data
for i, row in df_user_map.iterrows():
    sql = "INSERT INTO " + env.sql_table_user_map + " VALUES (%s,%s,%s,%s,%s,%s)"
    db_cursor.execute(sql, tuple(row))

# the connection is not auto committed by default, so we must commit to save our changes
db_connection.commit()

##### Migrating top data to table

In [ ]:
# creating table
db_cursor.execute(
    "CREATE TABLE IF NOT EXISTS "
    + env.sql_table_user_top
    + " (State varchar(100), Year int, Quarter int, Pincode int, Registered_users int)"
)

# iterating all rows in dataframe to insert data
for i, row in df_user_top.iterrows():
    sql = "INSERT INTO " + env.sql_table_user_top + " VALUES (%s,%s,%s,%s,%s)"
    db_cursor.execute(sql, tuple(row))

# the connection is not auto committed by default, so we must commit to save our changes
db_connection.commit()